{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mt-5">
    {% include 'partials/_messages.html' %}

    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'challenges' %}">Challenges</a></li>
                <li class="breadcrumb-item active" aria-current="page">Challenge Requests</li>
                </ol>
            </nav>
        </div>
       
    </div>
    
    <div id = "challenges_list" class = "mt-3">
        {% for challenge, player in challenges %}
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    {% if challenge.status == 'accepted' %}
                    <div class="card-header bg-success text-white lead">
                    {% elif challenge.status == 'rejected' %}
                    <div class="card-header bg-danger text-white lead">
                    {% elif challenge.status == 'scheduled' %}
                    <div class="card-header bg-info text-white lead">
                    {% else %}
                    <div class="card-header bg-secondary text-white lead">
                    {% endif %}
                        <div class="row">
                            <div class="col-md-4">
                                <span>Challenge #{{challenge.id}}</span>
                            </div>
                            <div class="col-md-4 text-center">
                                <span>Time: {{challenge.match_time}}</span>
                            </div>
                            <div class="col-md-4 text-end">
                                <span>Expires on: {{challenge.expiry_time}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body lead">
                        <div class="row">
                            <div class="col-md-4">
                                <span>Total Challengers: {{challenge.totalPlayers}}</span>
                            </div>
                            <div class="col-md-4 text-center">
                                <span>Status: <span class = "text-uppercase">{{challenge.status}}</span></span>
                            </div>
                            <div class="col-md-4 text-end">
                                <span>Challenged by: {{challenge.created_by.name}}</span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            {% if player.status == 'pending' %}
                            <form class="row" action="{% url 'challenge_requests' %}" method="POST">
                                {% csrf_token %}
                                <input type="text" hidden value="{{challenge.id}}" name = "challenge_id"/>
                                <div class="col-md-4">
                                    <input type="submit" id = 'accept_challenge' name = 'accept_challenge' 
                                    class = "text-success fw-bold bg-white border-0" value="Accept Challenge">
                                    <i class="fa fa-solid fa-circle-check text-success" aria-hidden="true"></i></input>
                                </div>
                                <div class="col-md-4 text-center">
                                    <input type="submit" id = 'reject_challenge' name = 'reject_challenge' 
                                    class = "text-danger fw-bold bg-white border-0" value="Reject Challenge">
                                    <i class="fa fa-solid fa-circle-xmark text-danger" aria-hidden="true"></i></input>
                                </div>
                                <div class="col-md-4 text-end">
                                    <a href={% url 'get_challenge' challenge.id %} class = "text-info">View Details <i class="fa fa-arrow-alt-circle-right" aria-hidden="true"></i></a>
                                </div>
                            </form>
                            

                            {% elif player.status == 'accepted' %}
                                {% if challenge.status == 'accepted' %}
                                    <div class="col-md-7">
                                        <span class = 'text-success fw-bold'>Challenge Accepted! Awaiting Payment and Schedule</span>
                                    </div>
                                {% elif challenge.status == 'rejected' %}
                                    <div class="col-md-7">
                                        <span class = 'text-danger fw-bold'>Challenge has been Rejected</span>
                                    </div>
                                {% elif challenge.status == 'scheduled' %}
                                    <div class="col-md-7">
                                        <span class = 'text-info fw-bold'>Challenge has been Scheduled! Make sure to join in time!</span>
                                    </div>
                                {% else %}
                                    <div class="col-md-7">
                                        <span class = 'text-primary fw-bold'>You have already accepted the Challenge. Awaiting Other Players</span>
                                    </div>
                                {% endif %}
                            
                            {% elif player.status == 'rejected' %}
                            <div class="col-md-7">
                                <span class = 'text-danger fw-bold'>You have Rejected this Challenge. </span>
                            </div>
                            {% endif %}
                            <div class="col-md-1 text-center">

                            </div>
                            <div class="col-md-4 text-end">
                                <a href={% url 'get_challenge' challenge.id %} class = "text-info">View Details <i class="fa fa-arrow-alt-circle-right" aria-hidden="true"></i></a>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        
        </div>
        {% endfor %}
    </div>

</div>

<script src = {% static 'js/matches/challenge_requests.js' %}></script>

{% endblock content %}

