{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mt-5">

    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'challenges' %}">Challenges</a></li>
                <li class="breadcrumb-item active" aria-current="page">Challenge {{challenge.id}}</li>
                </ol>
            </nav>
        </div>
       
    </div>
    
    <div id = "challenges_list" class = "mt-3">
        {% include 'partials/_messages.html' %}

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                <table class = "table borderless">
                    <thead>
                        <th>No #</th>
                        <th>Challenger</th>
                        <th>Ratings</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        {% for challenger in challengers %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{challenger.player.name}}</td>
                                <td>{{challenger.player.ratings}}</td>
                                <td>
                                    {% if challenger.status == 'pending' %}
                                    <span class = 'text-warning fw-bold text-uppercase'>{{challenger.status}}</span>
                                    {% elif challenger.status == 'accepted' %}
                                    <span class = 'text-success fw-bold text-uppercase'>{{challenger.status}}</span>
                                    {% elif challenger.status == 'rejected' %}
                                    <span class = 'text-danger fw-bold text-uppercase'>{{challenger.status}}</span>
                                    
                                    {% endif %} 
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-1">

            </div>
        </div>
        
        <!-- <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <span class ="fw-bold h5 text-left">Challenger</span>
                    </div>
                    <div class="col-md-6 h5">
                        <span class = "fw-bold">Status</span>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

</div>

<script src = {% static 'js/matches/challenges.js' %}></script>

{% endblock content %}

