{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Player Rankings</li>
        </ol>
    </nav>

    <div class="container mt-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player Name</th>
                    <th>Matches</th>
                    <th>Total Points</th>
                    <th>Matches Won</th>
                    <th>Ratings</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    {% if forloop.counter == 1 %}
                        <tr style = "background-color: gold">
                    {% elif forloop.counter == 2 %}
                        <tr style = "background-color: silver">
                    {% elif forloop.counter == 3 %}
                        <tr style = "background-color: #cba66c">
                    {%else %}
                        <tr>
                    {% endif %} 
                        <td>{{forloop.counter}}</td>
                        <td><img class="img-profile rounded-circle" src="{{player.profile_pic.url}}">        {{player.name}}</td>
                        <td>{{player.matches}}</td>
                        <td>{{player.total_points}}</td>
                        <td>{{player.matches_won}}</td>
                        <td>{{player.ratings}}</td>
                        </tr>
                    
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock  %}