{% load static %}

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      {% comment %} <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <span data-feather="home" class="align-text-bottom"></span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file" class="align-text-bottom"></span>
            Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="shopping-cart" class="align-text-bottom"></span>
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="users" class="align-text-bottom"></span>
            Customers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="bar-chart-2" class="align-text-bottom"></span>
            Reports
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="layers" class="align-text-bottom"></span>
            Integrations
          </a>
        </li>
      </ul> {% endcomment %}
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>User Operations</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle" class="align-text-bottom"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        {% url 'dashboard' as user_dashboard_url %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == user_dashboard_url %}active{% endif %}" href="{{user_dashboard_url}}">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Dashboard
          </a>
        </li>
        {% url 'rankings' as rankings_url %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == rankings_url %}active{% endif %}" href="{{rankings_url}}">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Player Rankings
          </a>
        </li>

        {% url 'challenges' as challenges_url %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == challenges_url %}active{% endif %}" href="{{challenges_url}}">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Your Challenges
          </a>
        </li>

        {% url 'challenge_requests' as challenge_requests_url %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == challenge_requests_url %}active{% endif %}" href="{{challenge_requests_url}}">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Challenge Requests
          </a>
        </li>
      </ul>
      {% if request.user.account.type == 'President' or request.user.account.type == 'Admin' %}
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>Admin Operations</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle" class="align-text-bottom"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        {% url 'index' as dashboard_url %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == dashboard_url %}active{% endif %}" href="{{dashboard_url}}">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Matches
          </a>
        </li>
        {% url 'match_requests' as match_requests_url %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == match_requests_url %}active{% endif %}" href="{{match_requests_url}}">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Match Requests
          </a>
        </li>
        {% url 'scheduled_matches' as scheduled_matches_url %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == scheduled_matches_url %}active{% endif %}" href="{{scheduled_matches_url}}">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Scheduled Matches
          </a>
        </li>
        {% url 'rankings' as rankings_url %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == rankings_url %}active{% endif %}" href="{{rankings_url}}">
            <span data-feather="file-text" class="align-text-bottom"></span>
            Player Rankings
          </a>
        </li>

        

        
        
      </ul>
      {% endif %}


      {% if request.user.account.type == 'President' %}
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
        <span>Super Admin Operations</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle" class="align-text-bottom"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        {% url 'all_members' as all_members_url %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == all_members_url %}active{% endif %}" href="{{all_members_url}}">
            <span data-feather="file-text" class="align-text-bottom"></span>
            All Members
          </a>
        </li>
        
      </ul>
      {% endif %}
    </div>
  </nav>