{% extends 'base.html' %}

{% block content %}
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-danger text-white">
                        <div class="row align-items-center">
                            
                            <div class="col">
                                <h3 class="display-3"># {{player_rank}}</h3>
                                <h6>Rank</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>
                            <a class = "text-primary" href=""></a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-success text-white">
                        <div class="row align-items-center">
                            
                            <div class="col">
                                <h3 class="display-3">{{player.ratings}}</h3>
                                <h6>Ratings</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>
                            <a class = "text-primary" href=""></a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-primary text-white">
                        <div class="row align-items-center">
                            
                            <div class="col">
                                <h3 class="display-3">{{matches_played}}</h3>
                                <h6>Matches Played</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>
                            <a class = "text-primary" href=""></a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-info text-white">
                        <div class="row align-items-center">
                            
                            <div class="col">
                                <h3 class="display-3">{{matches_won}}</h3>
                                <h6>Matches Won</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>
                            <a class = "text-primary" href=""></a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
    </div> 

{% endblock %}