{% extends 'base.html' %}

{% block content %}
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-danger text-white">
                        <div class="row align-items-center">
                            
                            <div class="col">
                                <h3 class="display-3"># {{player_rank}}</h3>
                                <h6>Rank</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>
                            <a class = "text-primary" href=""></a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-success text-white">
                        <div class="row align-items-center">
                            
                            <div class="col">
                                <h3 class="display-3">{{player.ratings}}</h3>
                                <h6>Ratings</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>
                            <a class = "text-primary" href=""></a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-primary text-white">
                        <div class="row align-items-center">
                            
                            <div class="col">
                                <h3 class="display-3">{{matches_played}}</h3>
                                <h6>Matches Played</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>
                            <a class = "text-primary" href=""></a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-info text-white">
                        <div class="row align-items-center">
                            
                            <div class="col">
                                <h3 class="display-3">{{matches_won}}</h3>
                                <h6>Matches Won</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>
                            <a class = "text-primary" href=""></a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <canvas id="myChart" class = "chart-container" style="position: relative; height:40vh; width:80vw"></canvas>

      
    </div> 

{% endblock %}


{% block script %}
<script>
var endpoint = '/api/users/points_history';
var labels = []
var defaultdata = []
$.ajax({
    method:"GET", 
    url: endpoint, 
    success: function(data) {
        labels = data.time; 
        defaultdata = data.data;
        makeGraph();
    }, 
    error: function(error_data) {
        console.log("Error");
        console.log(error_data);
    }
});
function makeGraph() {
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: "{{request.user.account.name}}'s Player Points",
                data: defaultdata,
                fill: false,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 3,
                pointBorderWidth: 4,
                pointBorderColor: '#FF0000'
            }]
        },
        options: {
            scales: {
                
                y: {
                    beginAtZero: true,
                    title: {
                        display: true, 
                        text: "Rating Points"
                    }
                    
                }, 
              
                
            }
        }
    });
}
</script>
{% endblock script %}