{% extends 'base.html' %}

{% block content %}
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-danger text-white">
                        <div class="row align-items-center">
                            
                            <div class="col">
                                <h3 class="display-3"># {{player_rank}}</h3>
                                <h6>Rank</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>
                            <a class = "text-primary" href=""></a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-success text-white">
                        <div class="row align-items-center">
                            
                            <div class="col">
                                <h3 class="display-3">{{player.ratings}}</h3>
                                <h6>Ratings</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>
                            <a class = "text-primary" href=""></a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-primary text-white">
                        <div class="row align-items-center">
                            
                            <div class="col">
                                <h3 class="display-3">{{matches_played}}</h3>
                                <h6>Matches Played</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>
                            <a class = "text-primary" href=""></a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header bg-info text-white">
                        <div class="row align-items-center">
                            
                            <div class="col">
                                <h3 class="display-3">{{matches_won}}</h3>
                                <h6>Matches Won</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>
                            <a class = "text-primary" href=""></a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <canvas id="myChart" width="400" height="400"></canvas>

       <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    </div> 

{% endblock %}


{% block script %}
<script>
var endpoint = '/api/data';
var labels = []
var data = []
$.ajax({
    method:"GET", 
    url: endpoint, 
    success: function(data) {
        labels = data.labels; 
        data = data.data;
        makeGraph();
    }, 
    error: function(error_data) {
        console.log("Error");
        console.log(error_data);
    }
});
function makeGraph() {
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}
</script>
{% endblock script %}